<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/pagination.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/all-columns.css" />
</head>

<body>
    <div class="box-wrapper">
        <div class="box-header">
            <div class="p-120 clearfix">
                <div class="box-head-left">
                    <ul class="box-head-l-list clearfix">
                        <li>信息中心系统规划处</li>
                        <li>用户名</li>
                        <li>欢迎您!</li>
                        <li>今天是<span>2019-2-14</span></li>
                        <li>星期四</li>
                    </ul>
                </div>
                <div class="box-head-right clearfix">

                    <ul class="box-head-l-switch">
                        <li class="active">个人首页</li>
                        <li>办公系统</li>
                        <li>监管信息平台</li>
                    </ul>
                    <ul class="box-head-l-zh">
                        <li><img src="../imgs/search-icon.png" alt=""/></li>
                        <li>修改密码</li>
                        <li>安全退出</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-logo">
            <div class="p-120">
                <img src="../imgs/logo.png" alt="" />
            </div>
        </div>
        <div class="box-nav">
            <div class="p-120">
                <ul class="box-nav-list clearfix">
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">首页</a>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">专题咨询</a>
                        <div class="box-second-nav">
                            <ul class="box-nav-meau">
                                <li>
                                    <a href="##">二级导航</a>
                                    <ul class="box-nav-submeau">
                                        <li>
                                            <a href="##">三级导航</a>
                                            <a href="##">三级导航</a>
                                            <a href="##">三级导航</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="##">二级导航</a>
                                    <ul class="box-nav-submeau">
                                        <li>
                                            <a href="##">三级导航</a>
                                            <a href="##">三级导航</a>
                                            <a href="##">三级导航</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">法律法规</a>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">统计分析</a>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">研究网</a>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">文化墙报</a>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">财务与人事</a>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">投资者保护</a>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">机关服务</a>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">技术支持</a>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">资料归档</a>
                    </li>
                </ul>
            </div>
        </div>
        <main class="all-columns-container p-120">
          <ul class="all-columns-items">
            <li class="column-item1"></li>
            <li class="column-item2">宣传思想工作网</li>
            <li class="column-item3">信访专栏</li>
            <li class="column-item4">保密专栏</li>
          </ul>
          <ul class="all-columns-items">
            <li class="column-item5">党风廉政工作</li>
            <li class="column-item6">公务车专项治理</li>
            <li class="column-item7">企业内部控制建设</li>
            <li class="column-item8">
                证监会机关会议 实际执行情况公示
            </li>
          </ul>
          <ul class="all-columns-items">
            <li class="column-item9">
                因公临时出国（境） 公示专栏
            </li>
            <li class="column-item10">中国证监会标志使用 规范</li>
            <li class="column-item11">中国证监会加强稽查 执法专项工作简报专栏</li>
            <li class="column-item12">保密精准扶贫</li>
          </ul>
          <ul class="all-columns-items">
            <li class="column-item13">控烟专栏</li>
            <li class="column-item14">中央监管信息平台专栏</li>
            <li class="column-item15">老干部工作园地</li>
            <li class="column-item16">会管单位信息系统 采购公示</li>
          </ul>
          <ul class="all-columns-items">
            <li class="column-item17">会党委2016年工作总结 暨党委成员2016年度 述职报告</li>
            <li class="column-item18">会机关局级干部 2017年述职报告</li>
          </ul>
        </main>
        <div class="box-footer">
            <div class="p-120">
                <div class="box-foot-list">
                    <div class="box-foot-list-top clearfix">
                        <span class="mechanism">相关部门</span>
                        <ul class="box-mechanism-list">
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                        </ul>
                    </div>
                    <div class="box-foot-list-top clearfix">
                        <span class="mechanism">派出机构</span>
                        <ul class="box-mechanism-list">
                            <li>北京</li>
                            <li>上海</li>
                            <li>天津</li>
                            <li>河北</li>
                            <li>河南</li>
                            <li>山西</li>
                            <li>北京</li>
                            <li>上海</li>
                            <li>天津</li>
                            <li>河北</li>
                            <li>河南</li>
                            <li>山西</li>
                            <li>北京</li>
                            <li>上海</li>
                            <li>天津</li>
                            <li>河北</li>
                            <li>河南</li>
                            <li>上海</li>
                            <li>天津</li>
                            <li>河北</li>
                            <li>河南</li>
                            <li>山西</li>
                            <li>北京</li>
                            <li>上海</li>
                            <li>天津</li>
                            <li>河北</li>
                            <li>河南</li>
                            <li>山西</li>
                            <li>北京</li>
                            <li>上海</li>
                            <li>天津</li>
                            <li>河北</li>
                            <li>河南</li>
                            <li>山西</li>
                        </ul>
                    </div>
                    <div class="box-foot-list-top clearfix">
                        <p class="footer-text">@2009-2019中国证券监督管理委员会版权所有 北京中软融鑫计算机系统工程有限公司提供技术支持</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/jquery-1.8.3.min.js"></script>
    <script src="../js/jquery.pagination.js"></script>
    <!-- <script src="../js/index.js"></script> -->
    <script>
        $(document).ready(function () {
            $("#Pagination").pagination(15, {
                prev_text: "<",
                next_text: '>'
            });
        });
    </script>
</body>

</html>