<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>列表页</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/swiper.css"/>
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/information.css"/>
</head>
<body>
<div class="box-wrapper">
    <div class="box-header">
        <div class="p-120 clearfix">
            <div class="box-head-left">
                <ul class="box-head-l-list clearfix">
                    <li>信息中心系统规划处</li>
                    <li>用户名</li>
                    <li>欢迎您!</li>
                    <li>今天是<span>2019-2-14</span></li>
                    <li>星期四</li>
                </ul>
            </div>
            <div class="box-head-right clearfix">
                <ul class="box-head-l-switch">
                    <li class="active">个人首页</li>
                    <li>办公系统</li>
                    <li>监管信息平台</li>
                </ul>
                <ul class="box-head-l-zh">
                    <li><img src="../imgs/search-icon.png" alt=""/></li>
                    <li>修改密码</li>
                    <li>安全退出</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box-logo">
        <div class="p-120">
            <img src="../imgs/logo.png" alt=""/>
        </div>
    </div>
    <div class="box-nav">
        <div class="p-120">
            <ul class="box-nav-list clearfix">
                <li class="box-nav-l-li">
                    <a class="box-nav-first" href="##">首页</a>
                </li>
                <li class="box-nav-l-li">
                    <a class="box-nav-first" href="##">专题咨询</a>
                    <div class="box-second-nav">
                        <ul class="box-nav-meau">
                           <li>
                               <a href="##">二级导航</a>
                               <ul class="box-nav-submeau">
                                   <li>
                                       <a href="##">三级导航</a>
                                       <a href="##">三级导航</a>
                                       <a href="##">三级导航</a>
                                   </li>
                               </ul>
                           </li>
                            <li>
                                <a href="##">二级导航</a>
                                <ul class="box-nav-submeau">
                                    <li>
                                        <a href="##">三级导航</a>
                                        <a href="##">三级导航</a>
                                        <a href="##">三级导航</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="box-nav-l-li">
                    <a class="box-nav-first" href="##">法律法规</a>
                </li>
                <li class="box-nav-l-li">
                    <a class="box-nav-first" href="##">统计分析</a>
                </li>
                <li class="box-nav-l-li">
                    <a class="box-nav-first" href="##">研究网</a>
                </li>
                <li class="box-nav-l-li">
                    <a class="box-nav-first" href="##">文化墙报</a>
                </li>
                <li class="box-nav-l-li">
                    <a class="box-nav-first" href="##">财务与人事</a>
                </li>
                <li class="box-nav-l-li">
                    <a class="box-nav-first" href="##">投资者保护</a>
                </li>
                <li class="box-nav-l-li">
                    <a class="box-nav-first" href="##">机关服务</a>
                </li>
                <li class="box-nav-l-li">
                    <a class="box-nav-first" href="##">技术支持</a>
                </li>
                <li class="box-nav-l-li">
                    <a class="box-nav-first" href="##">资料归档</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="box-banner">
        <div class="swiper-container" id="swiper1">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <img src="../imgs/banner.jpg" alt=""/>
                    <a href="##">了解更多</a>
                </li>
                <li class="swiper-slide">
                    <img src="../imgs/banner.jpg" alt=""/>
                    <a href="##">了解更多</a>
                </li>
                <li class="swiper-slide">
                    <img src="../imgs/banner.jpg" alt=""/>
                    <a href="##">了解更多</a>
                </li>
            </ul>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="box-container">
        <div class="p-120 clearfix">
            <div class="box-left float-box">
                <div class="box-img">
                    <img src="../imgs/img_03.png" alt=""/>
                    <span class="box-img-text">nihaoa</span>
                </div>
                <ul class="box-left-img clearfix">
                    <li class="borderBg">
                        <img src="../imgs/img_06.png" alt=""/>
                    </li>
                    <li>
                        <img src="../imgs/img_08.png" alt=""/>
                    </li>
                    <li>
                        <img src="../imgs/img_10.png" alt=""/>
                    </li>
                </ul>
            </div>
            <div class="box-center float-box">
                <div class="box-info-titles clearfix">
                    <h4 class="box-info-title">综合信息<span>information</span> <span class="more">更多</span></h4>
                   
                </div>
                <div class="box-center-con">
                    <dl class="box-con-dl">
                        <dt>
                            <p class="span-num">18</p>
                            <span>2019/3</span>
                        </dt>
                        <dd>
                            <h4 class="dd-title">上交所设置东方红上交所设置东方红上交所设置</h4>
                            <p>为更广泛交友点击活动经费合计非法第九次代表差别化的保护法别化的保护法保护电池vhdbhcdbhcb</p>
                        </dd>
                    </dl>
                    <ul class="center-list clearfix">
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>0215</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>0215</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>0215</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>0215</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>0215</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>0215</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>0215</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="box-right float-box">
                <div class="right-notice clearfix">
                    <h4 class="box-right-title">综合信息</h4>
                    <span class="more">更多</span>
                </div>
                <ul class="notice-list">
                    <li>《公开发行证券的公司信息披露内容与格式准则第42号——首次公开发行股票并在科创板式申请文件》</li>
                    <li>《公开发行证券的公司信息披露内容与格式准则第42号——首次公开发行股票并在科创板式申请文件》</li>
                    <li>《公开发行证券的公司信息披露内容与格式准则第42号——首次公开发行股票并在科创板式申请文件》</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box-information">
        <div class="p-120 clearfix">
            <div class="float-box box-info-one">
                <h4 class="box-info-title">领导信息<span class="more">更多</span></h4>
                <ul class="center-list clearfix">
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                </ul>
            </div>
            <div class="float-box box-info-two">
                <h4 class="box-info-title">媒体信息<span class="more">更多</span></h4>
                <ul class="center-list clearfix">
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                </ul>
            </div>
            <div class="float-box box-info-three">
                <h4 class="box-info-title-left">汽车尾号限行</h4>
                <div class="limit-number">
                    <p class="limit-n-text">2019年3月2号车辆限行</p>
                    <ul class="limit-number-list">
                        <li class="bGhover">
                            <span>03-04</span>
                            <span>周一</span>
                            <span>1</span>
                            <span>6</span>
                        </li>
                        <li>
                            <span>03-04</span>
                            <span>周一</span>
                            <span>1</span>
                            <span>6</span>
                        </li>
                        <li>
                            <span>03-04</span>
                            <span>周一</span>
                            <span>1</span>
                            <span>6</span>
                        </li>
                        <li>
                            <span>03-04</span>
                            <span>周一</span>
                            <span>1</span>
                            <span>6</span>
                        </li>
                        <li>
                            <span>03-04</span>
                            <span>周一</span>
                            <span>1</span>
                            <span>6</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="box-info">
        <div class="p-120">
            <div class="float-box box-info-one">
                <h4 class="box-info-title">领导信息<span class="more">更多</span></h4>
                <ul class="center-list clearfix">
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                </ul>
            </div>
            <div class="float-box box-info-two">
                <h4 class="box-info-title">媒体信息<span class="more">更多</span></h4>
                <ul class="center-list clearfix">
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                </ul>
            </div>
            <div class="float-box box-info-three">
                <h4 class="box-info-title-left">专题专栏<span class="more">更多</span></h4>
                <ul class="box-info-list">
                    <li class="icon1">党建网</li>
                    <li class="icon2">党风廉政建设</li>
                    <li class="icon3">老干部工作原地</li>
                    <li class="icon4">因公临时出境</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box-imgHover clearfix">
        <div class="p-120 clearfix">
            <ul class="box-img-list clearfix">
                <li>
                    <img src="../imgs/img1.jpg" alt=""/>
                    <div class="box-list-pos">
                        <i class="icon-img icon-img1"></i>
                        <span>中央监管信息平台</span>
                    </div>
                </li>
                <li>
                    <img src="../imgs/img2.jpg" alt=""/>
                    <div class="box-list-pos">
                        <i class="icon-img icon-img2"></i>
                        <span>中央监管信息平台</span>
                    </div>
                </li>
                <li>
                    <img src="../imgs/img3.jpg" alt=""/>
                    <div class="box-list-pos">
                        <i class="icon-img icon-img3"></i>
                        <span>教育培训</span>
                    </div>
                </li>
                <li>
                    <img src="../imgs/img4.jpg" alt=""/>
                    <div class="box-list-pos">
                        <i class="icon-img icon-img4"></i>
                        <span>中央监管信息平台</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="box-detail">
        <div class="p-120 clearfix">
            <div class="float-box box-info-one">
                <h4 class="box-info-title">领导信息<span class="more">更多</span></h4>
                <ul class="center-list clearfix">
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                </ul>
            </div>
            <div class="float-box box-info-two">
                <h4 class="box-info-title">媒体信息<span class="more">更多</span></h4>
                <ul class="center-list clearfix">
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                </ul>
            </div>
            <div class="float-box box-info-three">
                <div class="box-info-gray">
                    <h4 class="box-info-title-left">栏目名称<span class="more">更多</span></h4>

                    <div class="box-ipt">
                        <input class="ipt" type="text"/><input class="btn" type="button" value="搜索"/>
                    </div>
                    <ul class="phone-list">
                        <li>
                            <p>人力资源部</p>
                            <span>010-2333345</span>
                        </li>
                        <li>
                            <p>人力资源部</p>
                            <span>010-2333345</span>
                        </li>
                        <li>
                            <p>人力资源部</p>
                            <span>010-2333345</span>
                        </li>
                        <li>
                            <p>人力资源部</p>
                            <span>010-2333345</span>
                        </li>
                        <li>
                            <p>人力资源部</p>
                            <span>010-2333345</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="box-bg">
        <div class="p-120 clearfix">
            <div class="float-box box-info-one">
                <h4 class="box-info-title">IOSCO专题<span class="more">更多</span></h4>
                <ul class="center-list clearfix">
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                </ul>
            </div>
            <div class="float-box box-info-two">
                <h4 class="box-info-title">因公出访报告<span class="more">更多</span></h4>
                <ul class="center-list clearfix">
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                </ul>
            </div>
            <div class="float-box box-info-three">
                <h4 class="box-info-title-left">栏目名称<span class="more">更多</span></h4>
                <ul class="center-list clearfix">
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                    <li>
                        <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                        <span>02-15</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box-activity">
        <div class="p-120">
            <div class="border-top clearfix">
                <h4 class="box-center-title">证监会活动<span>security regulatory commission activity</span></h4>
            </div>
            <!--<div class="box-swiper">-->
                <!--<div class="box-swiper-width">-->
                    <div class="swiper-container" id="swiper2">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide">
                                <img src="../imgs/swiper-img_09.png" alt=""/>
                            </li>
                            <li class="swiper-slide">
                                <img src="../imgs/swiper-img_09.png" alt=""/>
                            </li>
                            <li class="swiper-slide">
                                <img src="../imgs/swiper-img_11.png" alt=""/>
                            </li>
                            <li class="swiper-slide">
                                <img src="../imgs/swiper-img_14.png" alt=""/>
                            </li>
                            <li class="swiper-slide">
                                <img src="../imgs/swiper-img_16.png" alt=""/>
                            </li>
                            <li class="swiper-slide">
                                <img src="../imgs/swiper-img_16.png" alt=""/>
                            </li>
                        </ul>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="box-body1">
            <div class="p-120 clearfix">
                    <div class="float-box box-info-one">
                        <h4 class="box-info-title">会机关信息<span class="more">更多</span></h4>
                        <ul class="center-list clearfix">
                            <li>
                                <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                                <span>2019-02-15</span>
                            </li>
                            <li>
                                <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                                <span>2019-02-15</span>
                            </li>
                            <li>
                                <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                                <span>2019-02-15</span>
                            </li>
                            <li>
                                <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                                <span>2019-02-15</span>
                            </li>
                            <li>
                                <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                                <span>2019-02-15</span>
                            </li>
                            <li>
                                <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                                <span>2019-02-15</span>
                            </li>
                            <li>
                                <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                                <span>2019-02-15</span>
                            </li>
                        </ul>
                    </div>
                    <div class="float-box box-info-two">
                        <h4 class="box-info-title">派出机构信息<span class="more">更多</span></h4>
                        <ul class="center-list clearfix">
                            <li>
                                <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                                <span>2019-02-15</span>
                            </li>
                            <li>
                                <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                                <span>2019-02-15</span>
                            </li>
                            <li>
                                <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                                <span>2019-02-15</span>
                            </li>
                            <li>
                                <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                                <span>2019-02-15</span>
                            </li>
                            <li>
                                <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                                <span>2019-02-15</span>
                            </li>
                            <li>
                                <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                                <span>2019-02-15</span>
                            </li>
                            <li>
                                <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                                <span>2019-02-15</span>
                            </li>
                        </ul>
                    </div>
                    <div class="float-box box-info-three">
                            <div class="box-info-titles clearfix">
                                <h4 class="box-center-title">通讯录查询</h4>
                            </div>
                            <div class="box-search">
                                <form action="" class="address-book">
                                    <div class="form-group">
                                        <input type="text" class="form-control">
                                        <button class="search-btn">搜索</button>
                                    </div>
                                </form>
                                <div class="address-book_items">
                                    <ul class="clearfix">
                                        <li class="clearfix">
                                        <i class="address-book_icon icon1"></i>
                                        <span>我的邮件</span>
                                        </li>
                                        <li class="clearfix on">
                                        <i class="address-book_icon icon2"></i>
                                        <span>考勤与假期</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </div>
            </div>
    </div>
    <div class="box-body2">
        <div class="p-120 clearfix">
            <div class="float-box box-scroll">
                <div class="box-scroll-title">
                        <h4 class="box-info-title">快捷入口<span>Shortcut entry</span></h4>
                </div>
                <div class="box-scroll-box">
                    <div class="box-scroll-left">
                        <div class="scroll-lists">
                            <ul class="scroll-list-ul">
                                <li class="textColor">应用系统</li>
                                <li>机关事务</li>
                                <li>应用系统</li>
                                <li>机关事务</li>
                                <li>应用系统</li>
                                <li>机关事务</li>
                                <li>机关事务</li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-scroll-right">
                        <div class="scroll-lists">
                            <h4>办公辅助类</h4>
                            <div class="entry-items">
                                    <ul>
                                      <li class="clearfix">
                                        <i class="entry-icon icon1"></i>
                                        <span>会计监管</span>
                                      </li>
                                      <li class="clearfix">
                                        <i class="entry-icon icon2"></i>
                                        <span>会计监管</span>
                                      </li>
                                      <li class="clearfix on">
                                        <i class="entry-icon icon3"></i>
                                        <span>会计监管</span>
                                      </li>
                                      <li class="clearfix">
                                        <i class="entry-icon icon4"></i>
                                        <span>会计监管</span>
                                      </li>
                                      <li class="clearfix">
                                        <i class="entry-icon icon5"></i>
                                        <span>会计监管</span>
                                      </li>
                                      <li class="clearfix">
                                        <i class="entry-icon icon6"></i>
                                        <span>会计监管</span>
                                      </li>
                                      <li class="clearfix">
                                        <i class="entry-icon icon7"></i>
                                        <span>会计监管</span>
                                      </li>
                                      <li class="clearfix">
                                        <i class="entry-icon icon8"></i>
                                        <span>会计监管</span>
                                      </li>
                                      <li class="clearfix">
                                        <i class="entry-icon icon9"></i>
                                        <span>会计监管</span>
                                      </li>
                                      <li class="clearfix">
                                        <i class="entry-icon icon10"></i>
                                        <span>会计监管</span>
                                      </li>
                                      <li class="clearfix">
                                        <i class="entry-icon icon11"></i>
                                        <span>会计监管</span>
                                      </li>
                      
                                    </ul>
                                  </div>
                            <!-- <ul class="office-list clearfix">
                                <li class="bgRed">
                                    <img src="../imgs/office-icon1.png" alt="">
                                    <span>会计监管</span>
                                </li>
                                <li>
                                    <img src="../imgs/office-icon2.png" alt="">
                                    <span>上市公司监管</span>
                                </li>
                                <li>
                                    <img src="../imgs/office-icon3.png" alt="">
                                    <span>公众公司监管</span>
                                </li>
                                <li>
                                    <img src="../imgs/office-icon4.png" alt="">
                                    <span>打非与清整</span>
                                </li>
                                <li>
                                    <img src="../imgs/office-icon5.png" alt="">
                                    <span>统计监测</span>
                                </li>
                                </ul>
                                <ul class="office-list clearfix">
                                <li>
                                    <img src="../imgs/office-icon6.png" alt="">
                                    <span>债券监管</span>
                                </li>
                                <li>
                                    <img src="../imgs/office-icon7.png" alt="">
                                    <span>行政许可</span>
                                </li>
                                <li>
                                    <img src="../imgs/office-icon8.png" alt="">
                                    <span>投资者保护</span>
                                </li>
                                <li>
                                    <img src="../imgs/office-icon9.png" alt="">
                                    <span>稽查信息</span>
                                </li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="float-box box-info-three">
                    <h4 class="box-info-title">会机关信息<span class="more">更多</span></h4>
                    <ul class="center-list clearfix">
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="box-body3">
            <div class="p-120 clearfix">
                <div class="float-box box-scroll box-scroll-all">
                    <div class="box-scroll-title">
                            <h4 class="box-info-title">快捷入口<span>Shortcut entry</span></h4>
                    </div>
                    <div class="box-scroll-box">
                        <div class="box-scroll-left">
                            <div class="scroll-lists">
                                <ul class="scroll-list-ul">
                                    <li class="textColor">应用系统</li>
                                    <li>机关事务</li>
                                    <li>应用系统</li>
                                    <li>机关事务</li>
                                    <li>应用系统</li>
                                    <li>机关事务</li>
                                    <li>机关事务</li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-scroll-right">
                            <div class="scroll-lists">
                                <h4>办公辅助类</h4>
                                <div class="entry-items">
                                        <ul>
                                          <li class="clearfix">
                                            <i class="entry-icon icon1"></i>
                                            <span>会计监管</span>
                                          </li>
                                          <li class="clearfix">
                                            <i class="entry-icon icon2"></i>
                                            <span>会计监管</span>
                                          </li>
                                          <li class="clearfix on">
                                            <i class="entry-icon icon3"></i>
                                            <span>会计监管</span>
                                          </li>
                                          <li class="clearfix">
                                            <i class="entry-icon icon4"></i>
                                            <span>会计监管</span>
                                          </li>
                                          <li class="clearfix">
                                            <i class="entry-icon icon5"></i>
                                            <span>会计监管</span>
                                          </li>
                                          <li class="clearfix">
                                            <i class="entry-icon icon6"></i>
                                            <span>会计监管</span>
                                          </li>
                                          <li class="clearfix">
                                            <i class="entry-icon icon7"></i>
                                            <span>会计监管</span>
                                          </li>
                                          <li class="clearfix">
                                            <i class="entry-icon icon8"></i>
                                            <span>会计监管</span>
                                          </li>
                                          <li class="clearfix">
                                            <i class="entry-icon icon9"></i>
                                            <span>会计监管</span>
                                          </li>
                                          <li class="clearfix">
                                            <i class="entry-icon icon10"></i>
                                            <span>会计监管</span>
                                          </li>
                                          <li class="clearfix">
                                            <i class="entry-icon icon11"></i>
                                            <span>会计监管</span>
                                          </li>
                          
                                        </ul>
                                      </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body4">
            <div class="p-120 clearfix">
                <div class="float-box box-info-one">
                    <h4 class="box-info-title">会机关信息<span class="more">更多</span></h4>
                    <ul class="center-list clearfix">
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                    </ul>
                </div>
                <div class="float-box box-info-two">
                    <h4 class="box-info-title">派出机构信息<span class="more">更多</span></h4>
                    <ul class="center-list clearfix">
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                        <li>
                            <p>证监会召开证监会召开证监会召开证监会召开证监会召开</p>
                            <span>2019-02-15</span>
                        </li>
                    </ul>
                </div>
                <div class="float-box box-info-three">
                    <div class="box-info-titles clearfix">
                        <h4 class="box-info-title-more ">栏目名称</h4>
                        <ul class="box-info-title-ul">
                            <li>信息标题</li>
                            <li>点击次数</li>
                        </ul>
                    </div>
                    <ul class="center-list clearfix center-list-color">
                            <li>
                                <p>关于224套商品房配售方案</p>
                                <span>3420</span>
                            </li>
                            <li>
                                <p>奥北5号地房</p>
                                <span>5680</span>
                            </li>
                            <li>
                                <p>附件1 169人排序</p>
                                <span>8092</span>
                            </li>
                            <li>
                                <p>证监会新闻发言人竞聘面试</p>
                                <span>8092</span>
                            </li>
                            <li>
                                <p>A1户型3居 </p>
                                <span>2238</span>
                            </li>
                            <li>
                                <p>肖钢同志在党委中心组 </p>
                                <span>4500</span>
                            </li>
                            <li>
                                <p>大力推进监管转型——肖钢</p>
                                <span>8092</span>
                            </li>
                    </ul>
                    <button class="btn-details">更多</button>
                </div>
            </div>
        </div>
    <div class="box-footer">
        <div class="p-120">
            <div class="box-foot-list">
                <div class="box-foot-list-top clearfix">
                    <span class="mechanism">相关部门</span>
                    <ul class="box-mechanism-list">
                        <li>办公厅</li>
                        <li>办公厅</li>
                        <li>办公厅</li>
                        <li>办公厅</li>
                        <li>办公厅</li>
                        <li>办公厅</li>
                        <li>办公厅</li>
                        <li>办公厅</li>
                        <li>办公厅</li>
                        <li>办公厅</li>
                        <li>办公厅</li>
                        <li>办公厅</li>
                        <li>办公厅</li>
                        <li>办公厅</li>
                        <li>办公厅</li>
                        <li>办公厅</li>
                        <li>办公厅</li>
                        <li>办公厅</li>
                    </ul>
                </div>
                <div class="box-foot-list-top clearfix">
                    <span class="mechanism">派出机构</span>
                    <ul class="box-mechanism-list">
                        <li>北京</li>
                        <li>上海</li>
                        <li>天津</li>
                        <li>河北</li>
                        <li>河南</li>
                        <li>山西</li>
                        <li>北京</li>
                        <li>上海</li>
                        <li>天津</li>
                        <li>河北</li>
                        <li>河南</li>
                        <li>山西</li>
                        <li>北京</li>
                        <li>上海</li>
                        <li>天津</li>
                        <li>河北</li>
                        <li>河南</li>
                        <li>上海</li>
                        <li>天津</li>
                        <li>河北</li>
                        <li>河南</li>
                        <li>山西</li>
                        <li>北京</li>
                        <li>上海</li>
                        <li>天津</li>
                        <li>河北</li>
                        <li>河南</li>
                        <li>山西</li>
                        <li>北京</li>
                        <li>上海</li>
                        <li>天津</li>
                        <li>河北</li>
                        <li>河南</li>
                        <li>山西</li>
                    </ul>
                </div>
                <div class="box-foot-list-top clearfix">
                    <p class="footer-text">@2009-2019中国证券监督管理委员会版权所有  北京中软融鑫计算机系统工程有限公司提供技术支持</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery-1.8.3.min.js"></script>
<script src="../js/swiper.min.js"></script>
  <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../js/index.js"></script>
<script>
   
    /*img切换*/
    $(".box-left-img li").click(function(){
        var imgUrl=$(this).find("img").attr("src");
        $(this).addClass("borderBg").siblings().removeClass("borderBg");
        $(".box-img img").attr("src",imgUrl)
    });
    /*鼠标滑过改变背景*/
    $(".box-img-list li").hover(function(){
        $(this).find(".box-list-pos").toggleClass("hoverBg");
    });
    var swiper=new Swiper("#swiper2",{
        slidesPerView:5,
        spaceBetween:10,
        nextButton:'.swiper-button-next',
        prevButton:'.swiper-button-prev'
    })
    $(".scroll-lists").mCustomScrollbar({
            autoHideScrollbar: false,
            autoExpandScrollbar: false,
            autoDraggerLength: false,
            scrollButtons: {
              enable: false,
              tabindex: 10
            },
            advanced: {
              autoExpandHorizontalScroll: true,
              updateOnContentResize: true,
              updateOnBrowserResize: true
            },
            theme: "dark"
          });
</script>
</body>
</html>