<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/swiper.css">
    <link rel="stylesheet" href="../css/pagination.css">
    <!-- <link rel="stylesheet" href="../css/thematic-page.css"> -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/list-page.css">
</head>
<body>
        <div class="box-wrapper">
                <div class="box-header">
                    <div class="p-120 clearfix">
                        <div class="box-head-left">
                            <ul class="box-head-l-list clearfix">
                                <li>信息中心系统规划处</li>
                                <li>用户名</li>
                                <li>欢迎您!</li>
                                <li>今天是<span>2019-2-14</span></li>
                                <li>星期四</li>
                            </ul>
                        </div>
                        <div class="box-head-right clearfix">
                            <ul class="box-head-l-switch">
                                <li class="active">个人首页</li>
                                <li>办公系统</li>
                                <li>监管信息平台</li>
                            </ul>
                            <ul class="box-head-l-zh">
                                <li><img src="../imgs/search-icon.png" alt=""/></li>
                                <li>修改密码</li>
                                <li>安全退出</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-logo">
                    <div class="p-120">
                        <img src="../imgs/logo.png" alt=""/>
                    </div>
                </div>
                <div class="box-nav">
                        <div class="p-120">
                            <ul class="box-nav-list clearfix">
                                <li class="box-nav-l-li">
                                    <a class="box-nav-first" href="##">专题咨询</a>
                                    <div class="box-second-nav">
                                        <ul class="box-nav-meau">
                                           <li>
                                               <a href="##">二级导航</a>
                                               <ul class="box-nav-submeau">
                                                   <li>
                                                       <a href="##">三级导航</a>
                                                       <a href="##">三级导航</a>
                                                       <a href="##">三级导航</a>
                                                   </li>
                                               </ul>
                                           </li>
                                            <li>
                                                <a href="##">二级导航</a>
                                                <ul class="box-nav-submeau">
                                                    <li>
                                                        <a href="##">三级导航</a>
                                                        <a href="##">三级导航</a>
                                                        <a href="##">三级导航</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="box-nav-l-li">
                                    <a class="box-nav-first" href="##">法律法规</a>
                                </li>
                                <li class="box-nav-l-li">
                                    <a class="box-nav-first" href="##">统计分析</a>
                                </li>
                                <li class="box-nav-l-li">
                                    <a class="box-nav-first" href="##">研究网</a>
                                </li>
                                <li class="box-nav-l-li">
                                    <a class="box-nav-first" href="##">文化墙报</a>
                                </li>
                                <li class="box-nav-l-li">
                                    <a class="box-nav-first" href="##">财务与人事</a>
                                </li>
                                <li class="box-nav-l-li">
                                    <a class="box-nav-first" href="##">投资者保护</a>
                                </li>
                                <li class="box-nav-l-li">
                                    <a class="box-nav-first" href="##">机关服务</a>
                                </li>
                                <li class="box-nav-l-li">
                                    <a class="box-nav-first" href="##">技术支持</a>
                                </li>
                                <li class="box-nav-l-li">
                                    <a class="box-nav-first" href="##">资料归档</a>
                                </li>
                            </ul>
                        </div>
                </div>
                <div class="box-banner">
                    <div class="swiper-container" id="swiper1">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide">
                                <img src="../imgs/banner.jpg" alt=""/>
                                <a href="##">了解更多</a>
                            </li>
                            <li class="swiper-slide">
                                <img src="../imgs/banner.jpg" alt=""/>
                                <a href="##">了解更多</a>
                            </li>
                            <li class="swiper-slide">
                                <img src="../imgs/banner.jpg" alt=""/>
                                <a href="##">了解更多</a>
                            </li>
                        </ul>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="box-containers">
                        <div class="p-120">
                            <div class="box-thematic clearfix">
                                <div class="box-the-left">
                                    <div class="box-the-title">
                                        <h4 class="news-rel">新闻发布<span>news release</span></h4>
                                    </div>
                                    <div class="box-meau">
                                        <ul class="box-meau-ul">
                                            <li class="box-meau-li">
                                                <a class="box-meau-a box-meau-list1" href="##">证监会要闻</a>
                                                <ul class="box-submeau-ul">
                                                    <li>菜单二</li>
                                                    <li>菜单二</li>
                                                    <li>菜单二</li>
                                                </ul>
                                            </li>
                                            <li class="box-meau-li">
                                                <a class="box-meau-a box-meau-list2" href="##">证监会要闻</a>
                                                <ul class="box-submeau-ul">
                                                    <li>菜单二</li>
                                                    <li>菜单二</li>
                                                    <li>菜单二</li>
                                                </ul>
                                            </li>
                                            <li class="box-meau-li">
                                                <a class="box-meau-a box-meau-list3" href="##">证监会要闻</a>
                                                <ul class="box-submeau-ul">
                                                    <li>菜单二</li>
                                                    <li>菜单二</li>
                                                    <li>菜单二</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box-the-right">
                                    <div class="box-right-con">
                                        <ul class="box-pos-list clearfix">
                                            <li>
                                                <a href="##">当前位置：</a>
                                            </li>
                                            <li>
                                                <a href="##">首页</a>
                                                <span>></span>
                                            </li>
                                            <li>
                                                <a href="##">新闻发布</a>
                                                <span>></span>
                                            </li>
                                            <li>
                                                <a href="##">证监会要闻</a>
                                            </li>
                                        </ul>
                                        <div class="box-news-list">
                                            <div class="box-news-l-one">
                                                <h4 class="box-news-title">证监会要闻<span class="more">更多</span></h4>
                                                <ul class="box-news-ul clearfix">
                                                    <li class="clearfix">
                                                        <p class="box-news-text">中国证监会发布会答问实录</p>
                                                        <span  class="box-news-span">02-15</span>
                                                    </li>
                                                    <li class="clearfix">
                                                        <p class="box-news-text">设立科创板并试点注册制只要制度规则正式发布</p>
                                                        <span  class="box-news-span">02-15</span>
                                                    </li>
                                                    <li class="clearfix">
                                                        <p class="box-news-text">中国证监会发布会答问实录</p>
                                                        <span  class="box-news-span">02-15</span>
                                                    </li>
                                                    <li>
                                                        <p class="box-news-text">中国证监会发布会答问实录</p>
                                                        <span  class="box-news-span">02-15</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="box-news-l-one">
                                                    <h4 class="box-news-title">证监会要闻<span class="more">更多</span></h4>
                                                    <ul class="box-news-ul clearfix">
                                                        <li class="clearfix">
                                                            <p class="box-news-text">中国证监会发布会答问实录</p>
                                                            <span  class="box-news-span">02-15</span>
                                                        </li>
                                                        <li class="clearfix">
                                                            <p class="box-news-text">中国证监会发布会答问实录</p>
                                                            <span  class="box-news-span">02-15</span>
                                                        </li>
                                                        <li class="clearfix">
                                                            <p class="box-news-text">设立科创板并试点注册制只要制度规则正式发布</p>
                                                            <span  class="box-news-span">02-15</span>
                                                        </li>
                                                        <li>
                                                            <p class="box-news-text">中国证监会发布会答问实录</p>
                                                            <span  class="box-news-span">02-15</span>
                                                        </li>
                                                    </ul>
                                            </div>
                                            <div class="box-news-l-one">
                                                    <h4 class="box-news-title">证监会要闻<span class="more">更多</span></h4>
                                                    <ul class="box-news-ul clearfix">
                                                        <li class="clearfix">
                                                            <p class="box-news-text">中国证监会发布会答问实录</p>
                                                            <span  class="box-news-span">02-15</span>
                                                        </li>
                                                        <li class="clearfix">
                                                            <p class="box-news-text">设立科创板并试点注册制只要制度规则正式发布</p>
                                                            <span  class="box-news-span">02-15</span>
                                                        </li>
                                                        <li class="clearfix">
                                                            <p class="box-news-text">中国证监会发布会答问实录</p>
                                                            <span  class="box-news-span">02-15</span>
                                                        </li>
                                                        <li class="clearfix">
                                                            <p class="box-news-text">设立科创板并试点注册制只要制度规则正式发布</p>
                                                            <span  class="box-news-span">02-15</span>
                                                        </li>
                                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="box-footer">
                        <div class="p-120">
                            <div class="box-foot-list">
                                <div class="box-foot-list-top clearfix">
                                    <span class="mechanism">相关部门</span>
                                    <ul class="box-mechanism-list">
                                        <li>办公厅</li>
                                        <li>办公厅</li>
                                        <li>办公厅</li>
                                        <li>办公厅</li>
                                        <li>办公厅</li>
                                        <li>办公厅</li>
                                        <li>办公厅</li>
                                        <li>办公厅</li>
                                        <li>办公厅</li>
                                        <li>办公厅</li>
                                        <li>办公厅</li>
                                        <li>办公厅</li>
                                        <li>办公厅</li>
                                        <li>办公厅</li>
                                        <li>办公厅</li>
                                        <li>办公厅</li>
                                        <li>办公厅</li>
                                        <li>办公厅</li>
                                    </ul>
                                </div>
                                <div class="box-foot-list-top clearfix">
                                    <span class="mechanism">派出机构</span>
                                    <ul class="box-mechanism-list">
                                        <li>北京</li>
                                        <li>上海</li>
                                        <li>天津</li>
                                        <li>河北</li>
                                        <li>河南</li>
                                        <li>山西</li>
                                        <li>北京</li>
                                        <li>上海</li>
                                        <li>天津</li>
                                        <li>河北</li>
                                        <li>河南</li>
                                        <li>山西</li>
                                        <li>北京</li>
                                        <li>上海</li>
                                        <li>天津</li>
                                        <li>河北</li>
                                        <li>河南</li>
                                        <li>上海</li>
                                        <li>天津</li>
                                        <li>河北</li>
                                        <li>河南</li>
                                        <li>山西</li>
                                        <li>北京</li>
                                        <li>上海</li>
                                        <li>天津</li>
                                        <li>河北</li>
                                        <li>河南</li>
                                        <li>山西</li>
                                        <li>北京</li>
                                        <li>上海</li>
                                        <li>天津</li>
                                        <li>河北</li>
                                        <li>河南</li>
                                        <li>山西</li>
                                    </ul>
                                </div>
                                <div class="box-foot-list-top clearfix">
                                    <p class="footer-text">@2009-2019中国证券监督管理委员会版权所有  北京中软融鑫计算机系统工程有限公司提供技术支持</p>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
        <script src="../js/jquery-1.11.1.min.js"></script>
        <script src="../js/swiper.min.js"></script>
        <script src="../js/jquery.pagination.js"></script>
        <script src="../js/index.js"></script>
        <script>
        </script>
</body>
</html>