<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>个人页面</title>
  <link rel="stylesheet" href="../css/reset.css" />
  <link rel="stylesheet" href="../css/swiper.css" />
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/personal-page.css" />
</head>

<body>
  <div class="box-header">
    <div class="p-120 clearfix">
      <div class="box-head-left">
        <ul class="box-head-l-list clearfix">
          <li>信息中心系统规划处</li>
          <li>用户名</li>
          <li>欢迎您!</li>
          <li>今天是<span>2019-2-14</span></li>
          <li>星期四</li>
        </ul>
      </div>
      <div class="box-head-right clearfix">

        <ul class="box-head-l-switch">
          <li class="active">个人首页</li>
          <li>办公系统</li>
          <li>监管信息平台</li>
        </ul>
        <ul class="box-head-l-zh">
          <li><img src="../imgs/search-icon.png" alt="" /></li>
          <li>修改密码</li>
          <li>安全退出</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="box-logo">
    <div class="p-120">
      <img src="../imgs/logo.png" alt="" />
    </div>
  </div>

  <main class="p-120">
    <!-- 左侧主题 -->
    <article>
      <!-- 代办公文 -->
      <section class="box">
        <div class="box_header clearfix">
          <hgroup class="clearfix">
            <h3 class="box_title">
              代办公文
              <em>10</em>
            </h3>
            <h4>Offical documents to be done</h4>
          </hgroup>
          <span class="more">更多</span>
        </div>
        <div class="box_body">
          <ul class="box_lists">
            <li class="clearfix">
              <a href="##">
                <span>【办公室】</span>
                证监会就《关于<期货交易管理条例>第七十条第一款……
              </a>
              <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                <span>【办公室】</span>
                证监会就《关于<期货交易管理条例>第七十条第一款……
              </a>
              <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                <span>【办公室】</span>
                证监会就《关于<期货交易管理条例>第七十条第一款……
              </a>
              <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                <span>【办公室】</span>
                证监会就《关于<期货交易管理条例>第七十条第一款……
              </a>
              <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                <span>【办公室】</span>
                证监会就《关于<期货交易管理条例>第七十条第一款……
              </a>
              <time>2019-02-13</time>
            </li>
          </ul>
        </div>
      </section>
      <!-- /.代办公文 -->

      <!-- 待阅公文 -->
      <section class="box">
        <div class="box_header clearfix">
          <hgroup class="clearfix">
            <h3 class="box_title">
              待阅公文
              <em>10</em>
            </h3>
            <h4>Offical documents to be done</h4>
          </hgroup>
          <span class="more">更多</span>
        </div>
        <div class="box_body">
          <ul class="box_lists">
            <li class="clearfix">
              <a href="##">
                <span>【办公室】</span>
                证监会就《关于<期货交易管理条例>第七十条第一款……
              </a>
              <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                <span>【办公室】</span>
                证监会就《关于<期货交易管理条例>第七十条第一款……
              </a>
              <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                <span>【办公室】</span>
                证监会就《关于<期货交易管理条例>第七十条第一款……
              </a>
              <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                <span>【办公室】</span>
                证监会就《关于<期货交易管理条例>第七十条第一款……
              </a>
              <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                <span>【办公室】</span>
                证监会就《关于<期货交易管理条例>第七十条第一款……
              </a>
              <time>2019-02-13</time>
            </li>
          </ul>
        </div>
      </section>
      <!-- /.待阅公文 -->


      <!-- 日常表单审批 -->
      <section class="box">
        <div class="box_header clearfix">
          <ul class="nav-tabs">
            <li class="tab-active">
              日常表单审批<em>10</em>
            </li>
            <li>
              借阅档案
            </li>
          </ul>
          <span class="more">更多</span>
        </div>
        <div class="box_body">
          <ul class="box_lists">
            <li class="clearfix">
              <a href="##">
                <span>【办公室】</span>
                证监会就《关于<期货交易管理条例>第七十条第一款……
              </a>
              <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                <span>【办公室】</span>
                证监会就《关于<期货交易管理条例>第七十条第一款……
              </a>
              <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                <span>【办公室】</span>
                证监会就《关于<期货交易管理条例>第七十条第一款……
              </a>
              <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                <span>【办公室】</span>
                证监会就《关于<期货交易管理条例>第七十条第一款……
              </a>
              <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                <span>【办公室】</span>
                证监会就《关于<期货交易管理条例>第七十条第一款……
              </a>
              <time>2019-02-13</time>
            </li>
          </ul>
        </div>
      </section>
      <!--  /.日常表单审批-->

      <!-- 快捷入口 -->
      <section class="box">
        <div class="box_header clearfix">
          <hgroup class="clearfix">
            <h3 class="box_title">
              快捷入口
              <em>10</em>
            </h3>
            <h4>Shortcut entry</h4>
          </hgroup>
          <span class="more">更多</span>
        </div>
        <div class="box_body">
          <div class="entry-content">
            <ul class="left-nav">
              <li class="on">办公辅助</li>
              <li>教育咨询</li>
              <li>其他</li>
            </ul>
            <div class="entry-items">
              <ul>
                <li class="clearfix">
                  <i class="entry-icon icon1"></i>
                  <span>会计监管</span>
                </li>
                <li class="clearfix">
                  <i class="entry-icon icon2"></i>
                  <span>会计监管</span>
                </li>
                <li class="clearfix on">
                  <i class="entry-icon icon3"></i>
                  <span>会计监管</span>
                </li>
                <li class="clearfix">
                  <i class="entry-icon icon4"></i>
                  <span>会计监管</span>
                </li>
                <li class="clearfix">
                  <i class="entry-icon icon5"></i>
                  <span>会计监管</span>
                </li>
                <li class="clearfix">
                  <i class="entry-icon icon6"></i>
                  <span>会计监管</span>
                </li>
                <li class="clearfix">
                  <i class="entry-icon icon7"></i>
                  <span>会计监管</span>
                </li>
                <li class="clearfix">
                  <i class="entry-icon icon8"></i>
                  <span>会计监管</span>
                </li>
                <li class="clearfix">
                  <i class="entry-icon icon9"></i>
                  <span>会计监管</span>
                </li>
                <li class="clearfix">
                  <i class="entry-icon icon10"></i>
                  <span>会计监管</span>
                </li>
                <li class="clearfix">
                  <i class="entry-icon icon11"></i>
                  <span>会计监管</span>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- /.快捷入口 -->
    </article>
    <!-- /.左侧主题 -->

    <!-- 右侧边栏 -->
    <aside>
      <!--  会内通知与公告-->
      <section class="box">
        <div class="box_header clearfix">
          <hgroup class="clearfix">
            <h3 class="box_title">
              会内通知与公告
            </h3>
          </hgroup>
          <span class="more">更多</span>
        </div>
        <div class="box_body">
          <ul class="box_lists">
            <li class="clearfix">
              <a href="##">
                证监会就《关于<期货交易管理…… </a> <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                证监会就《关于<期货交易管理…… </a> <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                证监会就《关于<期货交易管理…… </a> <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                证监会就《关于<期货交易管理…… </a> <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                证监会就《关于<期货交易管理…… </a> <time>2019-02-13</time>
            </li>
          </ul>
        </div>
      </section>
      <!-- /.会内通知与公告 -->

      <!-- 重要通知 -->
      <section class="box">
        <div class="box_header clearfix">
          <hgroup class="clearfix">
            <h3 class="box_title">
              重要通知
            </h3>
          </hgroup>
          <span class="more">更多</span>
        </div>
        <div class="box_body">
          <ul class="box_lists">
            <li class="clearfix">
              <a href="##">
                证监会就《关于<期货交易管理…… </a> <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                证监会就《关于<期货交易管理…… </a> <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                证监会就《关于<期货交易管理…… </a> <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                证监会就《关于<期货交易管理…… </a> <time>2019-02-13</time>
            </li>
            <li class="clearfix">
              <a href="##">
                证监会就《关于<期货交易管理…… </a> <time>2019-02-13</time>
            </li>
          </ul>
        </div>
      </section>
      <!-- /.重要通知 -->

      <!-- 日常安排 -->
      <section class="box">
        <div class="box_header clearfix">
          <hgroup class="clearfix">
            <h3 class="box_title">
              日常安排
            </h3>
          </hgroup>
          <span class="more">更多</span>
        </div>
        <div class="box_body">
          <div class="date-table">
            <time class="curr-date">2019年2月</time>
            <div class="date-lists">
              <dl>
                <dt>SUN</dt>
                <dd>24</dd>
              </dl>
              <dl>
                <dt>MON</dt>
                <dd>25</dd>
              </dl>
              <dl>
                <dt>TUE</dt>
                <dd class="curr-day">26</dd>
              </dl>
              <dl>
                <dt>WED</dt>
                <dd class="red-circle">27</dd>
              </dl>
              <dl>
                <dt>THU</dt>
                <dd class="red-circle">28</dd>
              </dl>
              <dl>
                <dt>FRI</dt>
                <dd>29</dd>
              </dl>
              <dl>
                <dt>SAT</dt>
                <dd>30</dd>
              </dl>
            </div>
          </div>
        </div>
      </section>
      <!-- /.日常安排 -->

      <!-- 通讯录查询 -->
      <section class="box">
        <div class="box_header clearfix">
          <hgroup class="clearfix">
            <h3 class="box_title">
              通讯录查询
            </h3>
          </hgroup>
          <span class="more">更多</span>
        </div>
        <div class="box_body">
          <form action="" class="address-book">
            <div class="form-group">

              <input type="text" class="form-control">
              <button class="search-btn">搜索</button>
            </div>
          </form>
          <div class="address-book_items">
            <ul class="clearfix">
              <li class="clearfix">
                <i class="address-book_icon icon1"></i>
                <span>我的邮件</span>
              </li>
              <li class="clearfix on">
                <i class="address-book_icon icon2"></i>
                <span>考勤与假期</span>
              </li>
              <li class="clearfix">
                <i class="address-book_icon icon3"></i>
                <span>我的申请</span>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- /.通讯查询 -->

      <!-- 专题专栏 -->
      <section class="box">
        <div class="box_header clearfix">
          <hgroup class="clearfix">
            <h3 class="box_title">
              专题专栏
            </h3>
          </hgroup>
          <span class="more">更多</span>
        </div>
        <div class="box_body">
          <div class="sc-items">
            <dl class="sc-item1">
              <dt></dt>
              <dd>党建网</dd>
            </dl>
            <dl class="sc-item2">
              <dt></dt>
              <dd>党风廉政建设工作专栏</dd>
            </dl>
            <dl class="sc-item3">
              <dt></dt>
              <dd>老干部工作园地</dd>
            </dl>
          </div>
        </div>
      </section>
      <!-- /.专题专栏 -->
    </aside>
    <!-- /.有侧边栏 -->
  </main>

  <div class="box-footer">
    <div class="p-120">
      <div class="box-foot-list">
        <div class="box-foot-list-top clearfix">
          <span class="mechanism">相关部门</span>
          <ul class="box-mechanism-list">
            <li>办公厅</li>
            <li>办公厅</li>
            <li>办公厅</li>
            <li>办公厅</li>
            <li>办公厅</li>
            <li>办公厅</li>
            <li>办公厅</li>
            <li>办公厅</li>
            <li>办公厅</li>
            <li>办公厅</li>
            <li>办公厅</li>
            <li>办公厅</li>
            <li>办公厅</li>
            <li>办公厅</li>
            <li>办公厅</li>
            <li>办公厅</li>
            <li>办公厅</li>
            <li>办公厅</li>
          </ul>
        </div>
        <div class="box-foot-list-top clearfix">
          <span class="mechanism">派出机构</span>
          <ul class="box-mechanism-list">
            <li>北京</li>
            <li>上海</li>
            <li>天津</li>
            <li>河北</li>
            <li>河南</li>
            <li>山西</li>
            <li>北京</li>
            <li>上海</li>
            <li>天津</li>
            <li>河北</li>
            <li>河南</li>
            <li>山西</li>
            <li>北京</li>
            <li>上海</li>
            <li>天津</li>
            <li>河北</li>
            <li>河南</li>
            <li>上海</li>
            <li>天津</li>
            <li>河北</li>
            <li>河南</li>
            <li>山西</li>
            <li>北京</li>
            <li>上海</li>
            <li>天津</li>
            <li>河北</li>
            <li>河南</li>
            <li>山西</li>
            <li>北京</li>
            <li>上海</li>
            <li>天津</li>
            <li>河北</li>
            <li>河南</li>
            <li>山西</li>
          </ul>
        </div>
        <div class="box-foot-list-top clearfix">
          <p class="footer-text">@2009-2019中国证券监督管理委员会版权所有 北京中软融鑫计算机系统工程有限公司提供技术支持</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>