<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/pagination.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/search-page.css" />
</head>

<body>
    <div class="box-wrapper">
        <div class="box-header">
            <div class="p-120 clearfix">
                <div class="box-head-left">
                    <ul class="box-head-l-list clearfix">
                        <li>信息中心系统规划处</li>
                        <li>用户名</li>
                        <li>欢迎您!</li>
                        <li>今天是<span>2019-2-14</span></li>
                        <li>星期四</li>
                    </ul>
                </div>
                <div class="box-head-right clearfix">

                    <ul class="box-head-l-switch">
                        <li class="active">个人首页</li>
                        <li>办公系统</li>
                        <li>监管信息平台</li>
                    </ul>
                    <ul class="box-head-l-zh">
                        <li><img src="../imgs/search-icon.png" alt="" /></li>
                        <li>修改密码</li>
                        <li>安全退出</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-logo">
            <div class="p-120">
                <img src="../imgs/logo.png" alt="" />
            </div>
        </div>
        <div class="box-nav">
            <div class="p-120">
                <ul class="box-nav-list clearfix">
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">首页</a>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">专题咨询</a>
                        <div class="box-second-nav">
                            <ul class="box-nav-meau">
                                <li>
                                    <a href="##">二级导航</a>
                                    <ul class="box-nav-submeau">
                                        <li>
                                            <a href="##">三级导航</a>
                                            <a href="##">三级导航</a>
                                            <a href="##">三级导航</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="##">二级导航</a>
                                    <ul class="box-nav-submeau">
                                        <li>
                                            <a href="##">三级导航</a>
                                            <a href="##">三级导航</a>
                                            <a href="##">三级导航</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">法律法规</a>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">统计分析</a>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">研究网</a>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">文化墙报</a>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">财务与人事</a>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">投资者保护</a>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">机关服务</a>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">技术支持</a>
                    </li>
                    <li class="box-nav-l-li">
                        <a class="box-nav-first" href="##">资料归档</a>
                    </li>
                </ul>
            </div>
        </div>
        <main class="p-120 search-page__content">
            <div class="search-form-group">
                <input type="text" class="search-form-control">
                <button class="search-btn">
                    搜索
                </button>
            </div>
            <div class="search-result-num">
                为您找到相关结果23434个
            </div>
            <div class="search-result">
                <ul class="search-result-lists">
                    <li>
                        <h3>中国证监会新闻发布会答问实录</h3>
                        <p>国务院新闻办公室于2019年2月27日（星期三）下午3时30分举行新闻发布会，中国证券监督管理委员会主席易会满，副主席李超、副主……</p>
                        <span>时间：2019-03-05</span>
                    </li>
                    <li>
                        <h3>中国证监会新闻发布会答问实录</h3>
                        <p>国务院新闻办公室于2019年2月27日（星期三）下午3时30分举行新闻发布会，中国证券监督管理委员会主席易会满，副主席李超、副主……</p>
                        <span>时间：2019-03-05</span>
                    </li>
                    <li>
                        <h3>中国证监会新闻发布会答问实录</h3>
                        <p>国务院新闻办公室于2019年2月27日（星期三）下午3时30分举行新闻发布会，中国证券监督管理委员会主席易会满，副主席李超、副主……</p>
                        <span>时间：2019-03-05</span>
                    </li>
                    <li>
                        <h3>中国证监会新闻发布会答问实录</h3>
                        <p>国务院新闻办公室于2019年2月27日（星期三）下午3时30分举行新闻发布会，中国证券监督管理委员会主席易会满，副主席李超、副主……</p>
                        <span>时间：2019-03-05</span>
                    </li>
                    <li>
                        <h3>中国证监会新闻发布会答问实录</h3>
                        <p>国务院新闻办公室于2019年2月27日（星期三）下午3时30分举行新闻发布会，中国证券监督管理委员会主席易会满，副主席李超、副主……</p>
                        <span>中国证监会 www.csrc.gov.cn 时间：2019-03-05 来源：证监会</span>
                    </li>
                    <li>
                        <h3>中国证监会新闻发布会答问实录</h3>
                        <p>国务院新闻办公室于2019年2月27日（星期三）下午3时30分举行新闻发布会，中国证券监督管理委员会主席易会满，副主席李超、副主……</p>
                        <span>时间：2019-03-05</span>
                    </li>


                </ul>
                <div class="pages" style="float:left">
                    <div id="Pagination"></div>
                    <div class="searchPage">
                        <span class="page-sum">共<strong class="allPage">15</strong>页</span>
                        <span class="page-go">GOTO<input type="text"></span>
                        <a href="javascript:;" class="page-btn">确定</a>
                    </div>
                </div>

            </div>
        </main>
        <div class="box-footer">
            <div class="p-120">
                <div class="box-foot-list">
                    <div class="box-foot-list-top clearfix">
                        <span class="mechanism">相关部门</span>
                        <ul class="box-mechanism-list">
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                            <li>办公厅</li>
                        </ul>
                    </div>
                    <div class="box-foot-list-top clearfix">
                        <span class="mechanism">派出机构</span>
                        <ul class="box-mechanism-list">
                            <li>北京</li>
                            <li>上海</li>
                            <li>天津</li>
                            <li>河北</li>
                            <li>河南</li>
                            <li>山西</li>
                            <li>北京</li>
                            <li>上海</li>
                            <li>天津</li>
                            <li>河北</li>
                            <li>河南</li>
                            <li>山西</li>
                            <li>北京</li>
                            <li>上海</li>
                            <li>天津</li>
                            <li>河北</li>
                            <li>河南</li>
                            <li>上海</li>
                            <li>天津</li>
                            <li>河北</li>
                            <li>河南</li>
                            <li>山西</li>
                            <li>北京</li>
                            <li>上海</li>
                            <li>天津</li>
                            <li>河北</li>
                            <li>河南</li>
                            <li>山西</li>
                            <li>北京</li>
                            <li>上海</li>
                            <li>天津</li>
                            <li>河北</li>
                            <li>河南</li>
                            <li>山西</li>
                        </ul>
                    </div>
                    <div class="box-foot-list-top clearfix">
                        <p class="footer-text">@2009-2019中国证券监督管理委员会版权所有 北京中软融鑫计算机系统工程有限公司提供技术支持</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/jquery-1.8.3.min.js"></script>
    <script src="../js/jquery.pagination.js"></script>
    <!-- <script src="../js/index.js"></script> -->
    <script>
        $(document).ready(function () {
            $("#Pagination").pagination(15, {
                prev_text: "<",
                next_text: '>'
            });
        });
    </script>
</body>

</html>