

.box-wrapper{
    width:100%;
    height:100%;
}
/*ͷ��*/
.box-header{
    height:45px;
    width:100%;
    background:#efefef;
    color:#666;
    font-size:12px;
}
.p-120{
    width:1200px !important;
    margin:0 auto;
}
/*header*/
.box-head-l-list li{
    float: left;
    line-height: 45px;
    padding:0 5px;
}
.box-head-left{
    float: left;
}
.box-head-right{
    float: right;
}
.box-head-l-switch{
    margin-top: 4px;
    float: right;
}
.box-head-l-switch li{
    float: left;
    border:solid 1px #d72525;
    margin:0 8px;
    min-width:100px;
    height:32px;
    line-height: 32px;
    text-align: center;
    color:#d72525;
    border-radius:2px;
    cursor: pointer;
}
.active{
    background: #d72525;
    color:#fff!important;
}
.box-head-l-zh{
    float: left;
}
.box-head-l-zh li{
    float: left;
    line-height: 45px;
    padding:0 16px;
    cursor: pointer;
    color:#666;
    font-size:13px;
}
/* header */

/*logo*/
.box-logo{
    width:100%;
    height:108px;
    background: #fff;
    border-bottom:solid 1px #ccc;
    position: relative;
}
.box-logo img{
    height:60px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
/*logo*/
/*nav*/
.box-nav{
    height:45px;
    /* background: #b52928; */
    background: radial-gradient(#ca3634 24%, #981817 100%);
}
.box-nav-list .box-nav-l-li{
    float: left;line-height: 45px;
    color:#fff;
    padding:0 20px;
    position: relative;
    /* width:10%; */
}
.box-nav-list .box-nav-l-li a{
    display: block;
}
.box-nav-first{
    color:#fff;
    min-width:30px;
    text-align: center;
}
.box-second-nav{
    padding:32px 40px 36px 40px;
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 0 0 4px #ccc;
    color:#000;
    z-index:10;
}
/*nav*/
.toggleBox{
    display: block;
    border-bottom:solid 2px #ccc;
}
.borderBottom{
    line-height: 43px;
    border-bottom: 3px #d1d3d2 solid;
}
.box-nav-meau{
    width: 350px;
}
.box-nav-meau li{
    margin:0 5px;
    float: left;
}
.box-nav-meau li a{
    width:155px;
    color:#000;
    border-bottom: solid 1px #ccc;
}
.box-nav-submeau li a{
    border:none;
    color:#000;
    font-size:14px;
}
/*bannerͼ*/
.box-banner{
    height:330px;
}
.box-container{
    padding:30px 0;
}
.bg{
    background: #d72525;
    color:#fff;
}
.box-pos-text{
    position: relative;
}
.box-pos-data{
    position: absolute;
    right:20px;
    top:30px;
    border:solid 1px #d72525;
}
.box-pos-data span{
    display:block;
    text-align: center;
    padding:4px 10px;
}
.box-pos-data .month{
    background: #d72525;
    color:#fff;
    font-size:12px;
}
.box-pos-data .data{
    background: #fff5f4;
    color:#d72525;
    font-size:16px;
}
.box-swiper{
    width:100%;
    height:100%;
    background: #ccc;
}
/* .box-swiper-width{
    width:91%;
    margin:0 auto;
    background: #fff;
} */

/* 页面二三级左侧右侧 */
.box-thematic{
    width:100%;
    margin:35px 0;
}
.box-the-left{
    float: left;
    width:20%;
    height:auto；
}
.box-the-right{
    float: right;
    width:80%;
}

.box-the-title{
    height:50px;
    line-height: 50px;
    border-bottom:solid 2px #d52527;
    padding:0 20px;
}
.news-rel{
    font-size:18px;
}
.news-rel span{
    font-size:12px;
    color:#999;
    padding-left: 5px;
}
.box-meau{
    padding:30px 20px;
}
.box-meau-li .box-meau-a{
    color:#000;
    display:block;
    line-height: 40px;
    padding-left: 25px;
}
.box-meau-list1{
    background: url(../imgs/tb1.png) no-repeat left center;
}
.box-meau-list2{
    background: url(../imgs/tb2.png) no-repeat left center;
}
.box-meau-list3{
    background: url(../imgs/tb3.png) no-repeat left center;
}
.meauHover .box-meau-list1{
    background: url(../imgs/tb-hover1.png) no-repeat left center;
}
.meauHover .box-meau-list2{
    background: url(../imgs/tb-hover2.png) no-repeat left center;
}
.meauHover .box-meau-list3{
    background: url(../imgs/tb-hover3.png) no-repeat left center;
}
.box-submeau-ul{
    display: none;
}
.box-submeau-ul li{
    line-height: 30px;
    color:#666;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}
.box-submeau-ul li:before{
    content: "";
    width:4px;
    height:4px;
    background: #d52527;
    position: absolute;
    top:14px;
    left:15px;
}
.box-right-con{
    padding-left:40px;
}
.box-pos-list li{
    float: left;
    line-height: 50px;
    color:#999;
    font-size:14px;
}
.box-pos-list li a{
    color:#999;
}
/*footer*/
.box-footer{
    width:100%;
    background: #1f1f1f;
}
.footer-text{
    color:#8b8b8b;
    font-size:14px;
    line-height: 40px;
}
.box-foot-list{
    padding:50px 0;
}
.mechanism{
    float: left;color:#fff;
    padding:10px 0;
    height:60px;
}
.box-mechanism-list li{
    float: left;
    color:#8b8b8b;
    font-size:14px;
    padding:10px 18px;
}
/*footer*/
.swiper-container{
    width:100%;
    height:100%;
}
.swiper-slide img{
    width:100%;
    height:100%;
}
.more{
    float: right;
    font-size:12px;
    color:#666;
    padding-right:15px;
    cursor: pointer;
}


.entry-content {
    padding: 20px;
  }
  .entry-content .left-nav {
    float: left;
    padding: 5px 0;
    border-right: 1px solid #D2D2D2;
    min-height: 300px;
  }
  .entry-content .left-nav li {
    padding: 0 40px;
    font-size: 22px;
    margin-bottom: 23px;
    position: relative;
  }
  .entry-content .left-nav li.on {
    color: #CB3130;
  }
  .entry-content .left-nav li.on:after {
    content: '';
    position: absolute;
    right: -3px;
    height: 100%;
    width: 5px;
    background-color: #CB3130;
    border-radius: 3px;
  }
  .entry-items {
    margin-left: 168px;
    min-height: 300px;
  }
  .entry-items li {
    width: 116px;
    height: 90px;
    margin: 0 6px;
    float: left;
  }
  .entry-items li span {
    display: block;
    text-align: center;
    font-size: 12px;
  }
  .entry-items li .entry-icon {
    width: 32px;
    height: 32px;
    display: block;
    margin: 20px auto 10px;
  }
  .entry-items li .entry-icon.icon1 {
    background: url(../imgs/entry-icon1.png) center no-repeat;
  }
  .entry-items li .entry-icon.icon2 {
    background: url(../imgs/entry-icon2.png) center no-repeat;
  }
  .entry-items li .entry-icon.icon3 {
    background: url(../imgs/entry-icon3.png) center no-repeat;
  }
  .entry-items li .entry-icon.icon4 {
    background: url(../imgs/entry-icon4.png) center no-repeat;
  }
  .entry-items li .entry-icon.icon5 {
    background: url(../imgs/entry-icon5.png) center no-repeat;
  }
  .entry-items li .entry-icon.icon6 {
    background: url(../imgs/entry-icon6.png) center no-repeat;
  }
  .entry-items li .entry-icon.icon7 {
    background: url(../imgs/entry-icon7.png) center no-repeat;
  }
  .entry-items li .entry-icon.icon8 {
    background: url(../imgs/entry-icon8.png) center no-repeat;
  }
  .entry-items li .entry-icon.icon9 {
    background: url(../imgs/entry-icon9.png) center no-repeat;
  }
  .entry-items li .entry-icon.icon10 {
    background: url(../imgs/entry-icon10.png) center no-repeat;
  }
  .entry-items li .entry-icon.icon11 {
    background: url(../imgs/entry-icon11.png) center no-repeat;
  }
  .entry-items li.on,
  .entry-items li:hover {
    background-color: #CB3130;
    color: #fff;
  }
  .entry-items li.on .icon1,
  .entry-items li:hover .icon1 {
    background: url(../imgs/entry-icon1-active.png) center no-repeat;
  }
  .entry-items li.on .icon2,
  .entry-items li:hover .icon2 {
    background: url(../imgs/entry-icon2-active.png) center no-repeat;
  }
  .entry-items li.on .icon3,
  .entry-items li:hover .icon3 {
    background: url(../imgs/entry-icon3-active.png) center no-repeat;
  }
  .entry-items li.on .icon4,
  .entry-items li:hover .icon4 {
    background: url(../imgs/entry-icon4-active.png) center no-repeat;
  }
  .entry-items li.on .icon5,
  .entry-items li:hover .icon5 {
    background: url(../imgs/entry-icon5-active.png) center no-repeat;
  }
  .entry-items li.on .icon6,
  .entry-items li:hover .icon6 {
    background: url(../imgs/entry-icon6-active.png) center no-repeat;
  }
  .entry-items li.on .icon7,
  .entry-items li:hover .icon7 {
    background: url(../imgs/entry-icon7-active.png) center no-repeat;
  }
  .entry-items li.on .icon8,
  .entry-items li:hover .icon8 {
    background: url(../imgs/entry-icon8-active.png) center no-repeat;
  }
  .entry-items li.on .icon9,
  .entry-items li:hover .icon9 {
    background: url(../imgs/entry-icon9-active.png) center no-repeat;
  }
  .entry-items li.on .icon10,
  .entry-items li:hover .icon10 {
    background: url(../imgs/entry-icon10-active.png) center no-repeat;
  }
  .entry-items li.on .icon11,
  .entry-items li:hover .icon11 {
    background: url(../imgs/entry-icon11-active.png) center no-repeat;
  }

  .address-book {
    padding: 20px 0;
  }
  .address-book .form-group {
    position: relative;
  }
  .address-book .form-group .form-control {
    border: 1px solid #979797;
    background-color: #fff;
    width: 100%;
    height: 40px;
    outline: none;
    padding-left: 40px;
    padding-right: 80px;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff url(../imgs/search-icon.png) 20px center no-repeat;
  }
  .address-book .form-group .search-btn {
    width: 74px;
    height: 30px;
    color: #fff;
    border: none;
    outline: none;
    background: -webkit-linear-gradient(left, #cb3130 0%, #e7302f 100%);
    background: linear-gradient(90deg, #cb3130 0%, #e7302f 100%);
    border-radius: 15px;
    position: absolute;
    right: 10px;
    top: 6px;
  }
  .address-book_items {
    margin-bottom: 35px;
  }
  .address-book_items li {
    width: 116px;
    height: 90px;
    background-color: #fff;
    cursor: pointer;
    float: left;
  }
  .address-book_items li:nth-child(2) {
    margin: 0 5px;
  }
  .address-book_items li span {
    display: block;
    text-align: center;
    font-size: 12px;
  }
  .address-book_items li .address-book_icon {
    width: 32px;
    height: 32px;
    display: block;
    margin: 20px auto 10px;
  }
  .address-book_items li .address-book_icon.icon1 {
    background: url(../imgs/address-book-icon1.png) center no-repeat;
  }
  .address-book_items li .address-book_icon.icon2 {
    background: url(../imgs/address-book-icon2.png) center no-repeat;
  }
  .address-book_items li .address-book_icon.icon3 {
    background: url(../imgs/address-book-icon3.png) center no-repeat;
  }
  .address-book_items li.on,
  .address-book_items li:hover {
    background-color: #CB3130;
    color: #fff;
  }
  .address-book_items li.on .icon1,
  .address-book_items li:hover .icon1 {
    background: url(../imgs/address-book-icon1-active.png) center no-repeat;
  }
  .address-book_items li.on .icon2,
  .address-book_items li:hover .icon2 {
    background: url(../imgs/address-book-icon2-active.png) center no-repeat;
  }
  .address-book_items li.on .icon3,
  .address-book_items li:hover .icon3 {
    background: url(../imgs/address-book-icon3-active.png) center no-repeat;
  }