.box-logo {
  background-color: #EBEBE7;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.22);
}
main {
  padding: 20px 0;
  position: relative;
}
article {
  padding: 30px 30px 30px 0;
  margin-right: 407px;
  padding-bottom: 100px;
}
aside {
  width: 407px;
  float: right;
  position: absolute;
  right: 0;
  top: 10px;
  background-color: #F0F0F0;
  box-sizing: border-box;
  padding: 24px;
}
.box {
  margin-bottom: 20px;
}
.box_header {
  border-bottom: 1px solid #CDCDCD;
  padding: 11px 0;
}
.box_header hgroup {
  float: left;
}
.box_header .more {
  float: right;
  color: #666;
  font-size: 12px;
  line-height: 30px;
  padding-right: 0;
}
.box_header .nav-tabs {
  float: left;
}
.box_header .nav-tabs li {
  float: left;
  color: #000;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 19px;
  position: relative;
}
.box_header .nav-tabs li.tab-active:before {
  content: '';
  position: absolute;
  bottom: -13px;
  height: 4px;
  background-color: #CB3130;
  left: 0;
  right: 0;
}
.box_header .nav-tabs li em {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  position: absolute;
  right: -14px;
  top: -8px;
  text-align: center;
  background-color: #E95050;
  color: #fff;
  font-size: 12px;
}
.box_title {
  color: #000;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 19px;
  position: relative;
}
.box_title:before {
  content: '';
  position: absolute;
  bottom: -13px;
  height: 4px;
  background-color: #CB3130;
  left: 0;
  right: 0;
}
.box_title em {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  position: absolute;
  right: -14px;
  top: -8px;
  text-align: center;
  background-color: #E95050;
  color: #fff;
  font-size: 12px;
}
hgroup h4 {
  color: #999;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  margin-left: 17px;
}
.box_lists {
  padding: 12px;
}
.box_lists li {
  line-height: 30px;
}
.box_lists li a {
  float: left;
  color: #666;
  font-size: 14px;
}
.box_lists li time {
  float: right;
  color: #999;
  font-size: 12px;
}
.date-table {
  padding: 19px 0px;
}
.date-table .curr-date {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
.date-table .date-lists {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.date-table dl dt {
  color: #999;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 11px;
}
.date-table dl dd {
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  font-size: 14px;
  color: #666;
  font-weight: bold;
  text-align: center;
}
.date-table dl dd.curr-day {
  color: #fff;
  background-color: #CB3130;
}
.date-table dl dd.red-circle {
  position: relative;
}
.date-table dl dd.red-circle:after {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #CB3130;
  position: absolute;
  right: 2px;
  top: 4px;
}
.sc-items dl {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
.sc-items dl dt {
  width: 32px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}
.sc-items dl dd {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
}
.sc-items dl.sc-item1 dt {
  background: url(../imgs/sc-icon1.png) center no-repeat;
}
.sc-items dl.sc-item2 dt {
  background: url(../imgs/sc-icon2.png) center no-repeat;
}
.sc-items dl.sc-item3 dt {
  background: url(../imgs/sc-icon3.png) center no-repeat;
}
