.box-logo {
  background-color: #EBEBE7;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.22);
}
main {
  padding: 20px 0;
  position: relative;
}
article {
  padding: 30px 30px 30px 0;
  margin-right: 407px;
  padding-bottom: 100px;
}
aside {
  width: 407px;
  float: right;
  position: absolute;
  right: 0;
  top: 10px;
  background-color: #F0F0F0;
  box-sizing: border-box;
  padding: 24px;
}
.box {
  margin-bottom: 20px;
}
.box_header {
  border-bottom: 1px solid #CDCDCD;
  padding: 11px 0;
}
.box_header hgroup {
  float: left;
}
.box_header .more {
  float: right;
  color: #666;
  font-size: 12px;
  line-height: 30px;
  padding-right: 0;
}
.box_header .nav-tabs {
  float: left;
}
.box_header .nav-tabs li {
  float: left;
  color: #000;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 19px;
  position: relative;
}
.box_header .nav-tabs li.tab-active:before {
  content: '';
  position: absolute;
  bottom: -13px;
  height: 4px;
  background-color: #CB3130;
  left: 0;
  right: 0;
}
.box_header .nav-tabs li em {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  position: absolute;
  right: -14px;
  top: -8px;
  text-align: center;
  background-color: #E95050;
  color: #fff;
  font-size: 12px;
}
.box_title {
  color: #000;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 19px;
  position: relative;
}
.box_title:before {
  content: '';
  position: absolute;
  bottom: -13px;
  height: 4px;
  background-color: #CB3130;
  left: 0;
  right: 0;
}
.box_title em {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  position: absolute;
  right: -14px;
  top: -8px;
  text-align: center;
  background-color: #E95050;
  color: #fff;
  font-size: 12px;
}
hgroup h4 {
  color: #999;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  margin-left: 17px;
}
.box_lists {
  padding: 12px;
}
.box_lists li {
  line-height: 30px;
}
.box_lists li a {
  float: left;
  color: #666;
  font-size: 14px;
}
.box_lists li time {
  float: right;
  color: #999;
  font-size: 12px;
}
.entry-content {
  padding: 20px;
}
.entry-content .left-nav {
  float: left;
  padding: 5px 0;
  border-right: 1px solid #D2D2D2;
  min-height: 300px;
}
.entry-content .left-nav li {
  padding: 0 40px;
  font-size: 22px;
  margin-bottom: 23px;
  position: relative;
}
.entry-content .left-nav li.on {
  color: #CB3130;
}
.entry-content .left-nav li.on:after {
  content: '';
  position: absolute;
  right: -3px;
  height: 100%;
  width: 5px;
  background-color: #CB3130;
  border-radius: 3px;
}
.entry-items {
  margin-left: 168px;
  min-height: 300px;
}
.entry-items li {
  width: 116px;
  height: 90px;
  margin: 0 10px;
  float: left;
}
.entry-items li span {
  display: block;
  text-align: center;
  font-size: 12px;
}
.entry-items li .entry-icon {
  width: 32px;
  height: 32px;
  display: block;
  margin: 20px auto 10px;
}
.entry-items li .entry-icon.icon1 {
  background: url(../imgs/entry-icon1.png) center no-repeat;
}
.entry-items li .entry-icon.icon2 {
  background: url(../imgs/entry-icon2.png) center no-repeat;
}
.entry-items li .entry-icon.icon3 {
  background: url(../imgs/entry-icon3.png) center no-repeat;
}
.entry-items li .entry-icon.icon4 {
  background: url(../imgs/entry-icon4.png) center no-repeat;
}
.entry-items li .entry-icon.icon5 {
  background: url(../imgs/entry-icon5.png) center no-repeat;
}
.entry-items li .entry-icon.icon6 {
  background: url(../imgs/entry-icon6.png) center no-repeat;
}
.entry-items li .entry-icon.icon7 {
  background: url(../imgs/entry-icon7.png) center no-repeat;
}
.entry-items li .entry-icon.icon8 {
  background: url(../imgs/entry-icon8.png) center no-repeat;
}
.entry-items li .entry-icon.icon9 {
  background: url(../imgs/entry-icon9.png) center no-repeat;
}
.entry-items li .entry-icon.icon10 {
  background: url(../imgs/entry-icon10.png) center no-repeat;
}
.entry-items li .entry-icon.icon11 {
  background: url(../imgs/entry-icon11.png) center no-repeat;
}
.entry-items li.on,
.entry-items li:hover {
  background-color: #CB3130;
  color: #fff;
}
.entry-items li.on .icon1,
.entry-items li:hover .icon1 {
  background: url(../imgs/entry-icon1-active.png) center no-repeat;
}
.entry-items li.on .icon2,
.entry-items li:hover .icon2 {
  background: url(../imgs/entry-icon2-active.png) center no-repeat;
}
.entry-items li.on .icon3,
.entry-items li:hover .icon3 {
  background: url(../imgs/entry-icon3-active.png) center no-repeat;
}
.entry-items li.on .icon4,
.entry-items li:hover .icon4 {
  background: url(../imgs/entry-icon4-active.png) center no-repeat;
}
.entry-items li.on .icon5,
.entry-items li:hover .icon5 {
  background: url(../imgs/entry-icon5-active.png) center no-repeat;
}
.entry-items li.on .icon6,
.entry-items li:hover .icon6 {
  background: url(../imgs/entry-icon6-active.png) center no-repeat;
}
.entry-items li.on .icon7,
.entry-items li:hover .icon7 {
  background: url(../imgs/entry-icon7-active.png) center no-repeat;
}
.entry-items li.on .icon8,
.entry-items li:hover .icon8 {
  background: url(../imgs/entry-icon8-active.png) center no-repeat;
}
.entry-items li.on .icon9,
.entry-items li:hover .icon9 {
  background: url(../imgs/entry-icon9-active.png) center no-repeat;
}
.entry-items li.on .icon10,
.entry-items li:hover .icon10 {
  background: url(../imgs/entry-icon10-active.png) center no-repeat;
}
.entry-items li.on .icon11,
.entry-items li:hover .icon11 {
  background: url(../imgs/entry-icon11-active.png) center no-repeat;
}
.date-table {
  padding: 19px 0px;
}
.date-table .curr-date {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
.date-table .date-lists {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.date-table dl dt {
  color: #999;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 11px;
}
.date-table dl dd {
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  font-size: 14px;
  color: #666;
  font-weight: bold;
  text-align: center;
}
.date-table dl dd.curr-day {
  color: #fff;
  background-color: #CB3130;
}
.date-table dl dd.red-circle {
  position: relative;
}
.date-table dl dd.red-circle:after {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #CB3130;
  position: absolute;
  right: 2px;
  top: 4px;
}
.address-book {
  padding: 20px 0;
}
.address-book .form-group {
  position: relative;
}
.address-book .form-group .form-control {
  border: 1px solid #979797;
  background-color: #fff;
  width: 100%;
  height: 40px;
  outline: none;
  padding-left: 40px;
  padding-right: 80px;
  border-radius: 4px;
  box-sizing: border-box;
  background: #fff url(../imgs/search-icon.png) 20px center no-repeat;
}
.address-book .form-group .search-btn {
  width: 74px;
  height: 30px;
  color: #fff;
  border: none;
  outline: none;
  background: -webkit-linear-gradient(left, #cb3130 0%, #e7302f 100%);
  background: linear-gradient(90deg, #cb3130 0%, #e7302f 100%);
  border-radius: 15px;
  position: absolute;
  right: 10px;
  top: 6px;
}
.address-book_items {
  margin-bottom: 35px;
}
.address-book_items li {
  width: 116px;
  height: 90px;
  background-color: #fff;
  cursor: pointer;
  float: left;
}
.address-book_items li:nth-child(2) {
  margin: 0 5px;
}
.address-book_items li span {
  display: block;
  text-align: center;
  font-size: 12px;
}
.address-book_items li .address-book_icon {
  width: 32px;
  height: 32px;
  display: block;
  margin: 20px auto 10px;
}
.address-book_items li .address-book_icon.icon1 {
  background: url(../imgs/address-book-icon1.png) center no-repeat;
}
.address-book_items li .address-book_icon.icon2 {
  background: url(../imgs/address-book-icon2.png) center no-repeat;
}
.address-book_items li .address-book_icon.icon3 {
  background: url(../imgs/address-book-icon3.png) center no-repeat;
}
.address-book_items li.on,
.address-book_items li:hover {
  background-color: #CB3130;
  color: #fff;
}
.address-book_items li.on .icon1,
.address-book_items li:hover .icon1 {
  background: url(../imgs/address-book-icon1-active.png) center no-repeat;
}
.address-book_items li.on .icon2,
.address-book_items li:hover .icon2 {
  background: url(../imgs/address-book-icon2-active.png) center no-repeat;
}
.address-book_items li.on .icon3,
.address-book_items li:hover .icon3 {
  background: url(../imgs/address-book-icon3-active.png) center no-repeat;
}
.sc-items dl {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
.sc-items dl dt {
  width: 32px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}
.sc-items dl dd {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
}
.sc-items dl.sc-item1 dt {
  background: url(../imgs/sc-icon1.png) center no-repeat;
}
.sc-items dl.sc-item2 dt {
  background: url(../imgs/sc-icon2.png) center no-repeat;
}
.sc-items dl.sc-item3 dt {
  background: url(../imgs/sc-icon3.png) center no-repeat;
}
